<body style='margin:0px;'>
<div style='width:100%; height:100%; background:#051424;'>
<Marquee height='100%' Direction = 'up'  scrolldelay = '90' scrollamount='3'>
    <div style='WORD-WRAP:break-word; width:399px;'>
      <pre>
        <Font style='font-size:30px; color:#ffffff;'>
VASDAQ-TVとは？
パソコンやインターネット、
e-メールって、便利な反面、
面倒ですよね！見たい情報は
決まっているのに、テレビ
みたいに、毎日自動的に必要
な情報を表示してくれるパソ
コンはないの？
そんな要望で誕生したのがお
仕事テレビ「VASDAQ-TV」
です。
最初に欲しい情報を設定して
しまえば毎日24時間、必要な
情報を画面上で全てチェック
できちゃいます。        </font>
      </pre>
    </div>
</Marquee>
</div>
</body>