<body style='margin:0px;'>
<div style='width:100%; height:100%; background:#123456;'>
<Marquee height='100%' Direction = 'up'  scrolldelay = '90' scrollamount='3'>
    <div style='WORD-WRAP:break-word; width:322px;'>
      <pre>
        <Font style='font-size:20px; color:#ffffff;'>
社長挨拶


今年度上期、売上予算を達成し、予
算を大幅に上回る経常利益を確保す
ることができました。
社員の皆さん本当にありがとうござ
いました。
これからも、品質にこだわったサー
ビスを提供するために、お客様の声
にに耳を傾けて、社会や市場の変化
を敏感に捉えていきましょう。


ＶＡＳＤＡＱグループの収益金の一
部は毎年、慈善団体に寄付を実施し
ています。（赤い羽根共同募金や国
連ハビタット協会への寄付を実施し
てきました</font>
      </pre>
    </div>
</Marquee>
</div>
</body>