.rank_entry {
  display:inline;
	float:left;
	width:191px;
	height:120px;
	margin: 45px 10px 0px 10px;
	background:#F5F5F5;
}

.rank_entry_title {
  display:inline;
	float:left;
	width:191px;
	height:60px;
	font-size:14px;
	font-weight:bold;
	margin-top:20px;
	text-align:center;
}

.rank_entry_content {
	width:191px;
	height: 30px;
	margin: 0px 0px 0px 5px;
	text-align:center;
	font-weight:bold;
	font-size:18px;
	color:blue;
}