<body style='margin:0px;'>
<div style='width:100%; height:100%; background:#252628;'>
<Marquee height='100%' Direction = 'up'  scrolldelay = '90' scrollamount='3'>
    <div style='WORD-WRAP:break-word; width:459px;'>
      <pre>
        <Font style='font-size:30px; color:#ffffff;'>
材料

　ひき肉　ニラ　ねぎ　キャベツ
しょうが　餃子の皮　にんにく　
卵黄　醤油　塩胡椒　ナツメグ

１．キャベツ、ねぎ、ニラをみじ
ん切り

２．しょうがをすりおろす

３．ひき肉と１の野菜、２のしょ
うが、卵をまぜる　これで、餃子
の具が出来上がり

４．皮に具をのせて、皮のフチに
水をつける

５．右端をつまみ、左手のひとさ
し指でひだを寄せて、右手のひと
さし指ではさみ、ひだをつくって
いく

６．形を整えて、あとは焼いて出
来上がり。
        </font>
      </pre>
    </div>
</Marquee>
</div>
</body>