<div class="signup">
<h3><%= _("Edit Your Account") %></h3>

<% form_for @user, :autocomplete=>'off' do |f| %>
  Email<%= f.text_field :email %>

  <p>
    <%= link_to _('Cancel'), root_path, :id=>'cancel_link' %>
    <%= f.submit _('Save') %>
  </p>
<% end %>
</div>