
<div id="Area">

<h1><%= image_tag("./welcome/icon/h1_mospeng.gif")%><%= _("チャンネル一覧")%></h1>

<table class="sample">
<tr>
<th width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel01_page01.html">Ｃｈ１</a></th>
<th width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel02_page01.html">Ｃｈ２</a></th>
<th width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel03_page01.html">Ｃｈ３</a></th>
<th width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel04_page01.html">Ｃｈ４</a></th>
<th width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel05_page01.html">Ｃｈ５</a></th>
<th width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel06_page01.html">Ｃｈ６</a></th>
<th width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel07_page01.html">Ｃｈ７</a></th>
<th width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel08_page01.html">Ｃｈ８</a></th>
<th width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel09_page01.html">Ｃｈ９</a></th>
<th width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel10_page01.html">Ｃｈ１０</a></th>
<th width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel11_page01.html">Ｃｈ１１</a></th>
<th width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel12_page01.html">Ｃｈ１２</a></th>
</tr>
</table>

<table class="sample">
<tr>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel01_page01.html">Ｐｇ１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel02_page01.html">Ｐｇ１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel03_page01.html">Ｐｇ１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel04_page01.html">Ｐｇ１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel05_page01.html">Ｐｇ１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel06_page01.html">Ｐｇ１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel07_page01.html">Ｐｇ１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel08_page01.html">Ｐｇ１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel09_page01.html">Ｐｇ１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel10_page01.html">Ｐｇ１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel11_page01.html">Ｐｇ１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel12_page01.html">Ｐｇ１</a></td>
</tr>
</table>

<table class="sample">
<tr>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel01_page02.html">Ｐｇ２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel02_page02.html">Ｐｇ２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel03_page02.html">Ｐｇ２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel04_page02.html">Ｐｇ２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel05_page02.html">Ｐｇ２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel06_page02.html">Ｐｇ２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel07_page02.html">Ｐｇ２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel08_page02.html">Ｐｇ２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel09_page02.html">Ｐｇ２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel10_page02.html">Ｐｇ２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel11_page02.html">Ｐｇ２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel12_page02.html">Ｐｇ２</a></td>
</tr>
</table>

<table class="sample">
<tr>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel01_page03.html">Ｐｇ３</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel02_page03.html">Ｐｇ３</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel03_page03.html">Ｐｇ３</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel04_page03.html">Ｐｇ３</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel05_page03.html">Ｐｇ３</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel06_page03.html">Ｐｇ３</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel07_page03.html">Ｐｇ３</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel08_page03.html">Ｐｇ３</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel09_page03.html">Ｐｇ３</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel10_page03.html">Ｐｇ３</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel11_page03.html">Ｐｇ３</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel12_page03.html">Ｐｇ３</a></td>
</tr>
</table>

<table class="sample">
<tr>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel01_page04.html">Ｐｇ４</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel02_page04.html">Ｐｇ４</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel03_page04.html">Ｐｇ４</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel04_page04.html">Ｐｇ４</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel05_page04.html">Ｐｇ４</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel06_page04.html">Ｐｇ４</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel07_page04.html">Ｐｇ４</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel08_page04.html">Ｐｇ４</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel09_page04.html">Ｐｇ４</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel10_page04.html">Ｐｇ４</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel11_page04.html">Ｐｇ４</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel12_page04.html">Ｐｇ４</a></td>
</tr>
</table>

<table class="sample">
<tr>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel01_page05.html">Ｐｇ５</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel02_page05.html">Ｐｇ５</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel03_page05.html">Ｐｇ５</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel04_page05.html">Ｐｇ５</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel05_page05.html">Ｐｇ５</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel06_page05.html">Ｐｇ５</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel07_page05.html">Ｐｇ５</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel08_page05.html">Ｐｇ５</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel09_page05.html">Ｐｇ５</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel10_page05.html">Ｐｇ５</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel11_page05.html">Ｐｇ５</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel12_page05.html">Ｐｇ５</a></td>
</tr>
</table>

<table class="sample">
<tr>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel01_page06.html">Ｐｇ６</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel02_page06.html">Ｐｇ６</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel03_page06.html">Ｐｇ６</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel04_page06.html">Ｐｇ６</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel05_page06.html">Ｐｇ６</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel06_page06.html">Ｐｇ６</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel07_page06.html">Ｐｇ６</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel08_page06.html">Ｐｇ６</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel09_page06.html">Ｐｇ６</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel10_page06.html">Ｐｇ６</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel11_page06.html">Ｐｇ６</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel12_page06.html">Ｐｇ６</a></td>
</tr>
</table>

<table class="sample">
<tr>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel01_page07.html">Ｐｇ７</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel02_page07.html">Ｐｇ７</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel03_page07.html">Ｐｇ７</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel04_page07.html">Ｐｇ７</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel05_page07.html">Ｐｇ７</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel06_page07.html">Ｐｇ７</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel07_page07.html">Ｐｇ７</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel08_page07.html">Ｐｇ７</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel09_page07.html">Ｐｇ７</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel10_page07.html">Ｐｇ７</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel11_page07.html">Ｐｇ７</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel12_page07.html">Ｐｇ７</a></td>
</tr>
</table>

<table class="sample">
<tr>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel01_page08.html">Ｐｇ８</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel02_page08.html">Ｐｇ８</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel03_page08.html">Ｐｇ８</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel04_page08.html">Ｐｇ８</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel05_page08.html">Ｐｇ８</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel06_page08.html">Ｐｇ８</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel07_page08.html">Ｐｇ８</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel08_page08.html">Ｐｇ８</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel09_page08.html">Ｐｇ８</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel10_page08.html">Ｐｇ８</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel11_page08.html">Ｐｇ８</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel12_page08.html">Ｐｇ８</a></td>
</tr>
</table>

<table class="sample">
<tr>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel01_page09.html">Ｐｇ９</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel02_page09.html">Ｐｇ９</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel03_page09.html">Ｐｇ９</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel04_page09.html">Ｐｇ９</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel05_page09.html">Ｐｇ９</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel06_page09.html">Ｐｇ９</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel07_page09.html">Ｐｇ９</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel08_page09.html">Ｐｇ９</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel09_page09.html">Ｐｇ９</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel10_page09.html">Ｐｇ９</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel11_page09.html">Ｐｇ９</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel12_page09.html">Ｐｇ９</a></td>
</tr>
</table>

<table class="sample">
<tr>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel01_page10.html">Ｐｇ１０</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel02_page10.html">Ｐｇ１０</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel03_page10.html">Ｐｇ１０</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel04_page10.html">Ｐｇ１０</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel05_page10.html">Ｐｇ１０</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel06_page10.html">Ｐｇ１０</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel07_page10.html">Ｐｇ１０</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel08_page10.html">Ｐｇ１０</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel09_page10.html">Ｐｇ１０</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel10_page10.html">Ｐｇ１０</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel11_page10.html">Ｐｇ１０</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel12_page10.html">Ｐｇ１０</a></td>
</tr>
</table>

<table class="sample">
<tr>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel01_page11.html">Ｐｇ１１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel02_page11.html">Ｐｇ１１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel03_page11.html">Ｐｇ１１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel04_page11.html">Ｐｇ１１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel05_page11.html">Ｐｇ１１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel06_page11.html">Ｐｇ１１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel07_page11.html">Ｐｇ１１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel08_page11.html">Ｐｇ１１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel09_page11.html">Ｐｇ１１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel10_page11.html">Ｐｇ１１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel11_page11.html">Ｐｇ１１</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel12_page11.html">Ｐｇ１１</a></td>
</tr>
</table>

<table class="sample">
<tr>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel01_page12.html">Ｐｇ１２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel02_page12.html">Ｐｇ１２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel03_page12.html">Ｐｇ１２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel04_page12.html">Ｐｇ１２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel05_page12.html">Ｐｇ１２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel06_page12.html">Ｐｇ１２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel07_page12.html">Ｐｇ１２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel08_page12.html">Ｐｇ１２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel09_page12.html">Ｐｇ１２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel10_page12.html">Ｐｇ１２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel11_page12.html">Ｐｇ１２</a></td>
<td width="70px"><a href="http://vasdaq.dyndns.tv/channels/pages/Channel12_page12.html">Ｐｇ１２</a></td>
</tr>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<h2>
<a href="http://www.vasdaqj.jp/sample/channels/pages/Channel02_page01.html" target="_blank">PAGE01</a>
<a href="http://www.vasdaqj.jp/sample/channels/pages/Channel02_page02.html" target="_blank">PAGE02</a>
<a href="http://www.vasdaqj.jp/sample/channels/pages/Channel02_page03.html" target="_blank">PAGE03</a>
<a href="http://www.vasdaqj.jp/sample/channels/pages/Channel02_page04.html" target="_blank">PAGE04</a>
<a href="http://www.vasdaqj.jp/sample/channels/pages/Channel02_page05.html" target="_blank">PAGE05</a>
<!-- <a href="http://www.vasdaqj.jp/sample/channels/pages/Channel02_page06.html" target="_blank">PAGE06</a> -->
<a href="http://www.vasdaqj.jp/sample/channels/pages/Channel02_page07.html" target="_blank">PAGE06</a>
</h2>

