<%= image_tag("welcome/common/b_diagram02.gif")%>
<br>
<br>
<br>
<center><a href="javascript:void(0);" onclick="window.close('/welcome/diagram', 'mywindow', ' menubar=no, toolbar=no, scrollbars=no');">ウインドウを閉じる</a></center>