@charset "utf-8";

/*
 Share Style [
----------------------------------------------------------- */
* {
	margin:0;
	padding:0;
}
body {
	color:#FFFFFF;
	background-color:#000000;
	font-family:Verdana, "ＭＳ Ｐゴシック", sans-serif;
	font-size:70%;//80
}
h1 {
	background-image:url("../img/arrow.png");
	background-repeat: no-repeat;
	background-position:center left;
	padding:0px 0px 0px 20px;
	font-size:22px;
	font-weight:normal;
}
h2 {
	color:#FFF;
	font-size:20px;
}
h3 {
	color:#000000;
	font-size:30px;
	font-weight:normal;
}
p,li,dt,dl {
	line-height:160%;
}
p {
	margin:0 0 1em 0;
}
li {
	list-style-type:none;
}
img {
	border:0;
	vertical-align: middle;
}

hr {
	display:none;
}
table{
	border-collapse:collapse;
}
th,td{
	padding:0;
}
.clear {
	clear:both;
}

/*
 Link Color [
----------------------------------------------------------- */
a {
	color:#003cff;
	text-decoration:none;
	outline:none;	//リンクをクリックした時に出る点線を消す
}
a:link {
	color:#003cff;
}
a:visited {
	color:#003cff;
}
a:hover {
	text-decoration:underline;
	color:#003cff;
}
a:active {
	color:#003cff;
}

/*
 Header [
----------------------------------------------------------- */
#Area {
	height:640px;
	background-image:url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-position:top center;
	}
#Box {

	margin:0 auto;
	width:790px;
	height:590px;
	padding:5px;
}

#TransCSR {
	width:260px;
	height:238px;
	border:1px #FFF solid;
	margin-left:5px;
	padding:40px 5px 8px 5px;
	background-image:url("../img/bg_alf01.png");
}

#Trans3future {
	width:535px;
	height:84px;
	border:1px #FFF solid;
	margin-top:5px;
	padding:40px 7px 8px 7px;
	background-image:url("../img/bg_alf02.png");
}

#TransApproach {
	width:773px;
	height:100px;
	border:1px #FFF solid;
	margin-top:5px;
	padding:40px 7px 8px 7px;
	background-image:url("../img/bg_alf03.png");
}

#TransIntroduction {
	width:220px;
	height:132px;
	margin:5px 0px 0px 5px;
	border:1px #FFF solid;
	padding:0px 5px 0px 5px;
	background-image:url("../img/bg_alf04.png");
}

#slideshow { position:relative; width:135px; height:257px;}
#slideshow img { position:absolute; top:0; left:0; z-index:8; }
#slideshow img.active { z-index:10; }
#slideshow img.last-active { z-index:9; }

#slidepr { position:relative; width:135px; height:59px; margin-top:5px;}
#slidepr img { position:absolute; top:0; left:0; z-index:8; }
#slidepr img.active { z-index:10; }
#slidepr img.last-active { z-index:9; }

#slideintro { position:relative; width:239px; height:191px; margin-top:5px;}
#slideintro img { position:absolute; top:0; left:0; z-index:8; }
#slideintro img.active { z-index:10; }
#slideintro img.last-active { z-index:9; }

