<div class="account" style="margin-bottom:15px;">
	<table>
		<tr>
			<td colspan="2"><h2><b><%= _("ログイン名確認") %></b></h2><br></td>
		</tr>
	</table>
		<table>
			<tr>
				<td><%= _("ログイン名") %></td>
				<td><%= h(@user["login"]) %></td>
			</tr>
			<tr>
				<td>

					<%= link_to _("VASDAQ.TVトップへ"), root_path %>
				</td>
			</tr>						
		</table>
</div>